<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bykelsi.repository.BookEOMapper">
  <resultMap id="BaseResultMap" type="com.bykelsi.entity.BookEO">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="bookIndex" jdbcType="VARCHAR" property="bookindex" />
    <result column="bookName" jdbcType="VARCHAR" property="bookname" />
    <result column="bookAuther" jdbcType="VARCHAR" property="bookauther" />
    <result column="bookSize" jdbcType="DOUBLE" property="booksize" />
    <result column="complete" jdbcType="VARCHAR" property="complete" />
    <result column="systemCode" jdbcType="VARCHAR" property="systemcode" />
    <result column="systemName" jdbcType="VARCHAR" property="systemname" />
    <result column="readable" jdbcType="VARCHAR" property="readable" />
  </resultMap>
  <insert id="insert" parameterType="com.bykelsi.entity.BookEO">
    insert into book (id, bookIndex, bookName, 
      bookAuther, bookSize, complete, 
      systemCode, systemName, readable
      )
    values (#{id,jdbcType=INTEGER}, #{bookindex,jdbcType=VARCHAR}, #{bookname,jdbcType=VARCHAR}, 
      #{bookauther,jdbcType=VARCHAR}, #{booksize,jdbcType=DOUBLE}, #{complete,jdbcType=VARCHAR}, 
      #{systemcode,jdbcType=VARCHAR}, #{systemname,jdbcType=VARCHAR}, #{readable,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bykelsi.entity.BookEO">
    insert into book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookindex != null">
        bookIndex,
      </if>
      <if test="bookname != null">
        bookName,
      </if>
      <if test="bookauther != null">
        bookAuther,
      </if>
      <if test="booksize != null">
        bookSize,
      </if>
      <if test="complete != null">
        complete,
      </if>
      <if test="systemcode != null">
        systemCode,
      </if>
      <if test="systemname != null">
        systemName,
      </if>
      <if test="readable != null">
        readable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookindex != null">
        #{bookindex,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="bookauther != null">
        #{bookauther,jdbcType=VARCHAR},
      </if>
      <if test="booksize != null">
        #{booksize,jdbcType=DOUBLE},
      </if>
      <if test="complete != null">
        #{complete,jdbcType=VARCHAR},
      </if>
      <if test="systemcode != null">
        #{systemcode,jdbcType=VARCHAR},
      </if>
      <if test="systemname != null">
        #{systemname,jdbcType=VARCHAR},
      </if>
      <if test="readable != null">
        #{readable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>